<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md p-8 bg-white rounded-lg shadow-md">
    <h2 class="text-center text-2xl font-bold">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
<<<<<<< HEAD
        <%= f.label :username, "ユーザー名", class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :username, autofocus: true, class: "mt-1 p-2 w-full border rounded-md" %>
=======
        <%= f.label :email, "メールアドレス", class: "block text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 p-2 w-full border rounded-md" %>
>>>>>>> 8f5d7c0 (コミットメッセージ)
      </div>

      <div class="field">
        <%= f.label :password, "パスワード", class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "mt-1 p-2 w-full border rounded-md" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mt-4 flex items-center">
          <%= f.check_box :remember_me, class: "mr-2" %>
          <%= f.label :remember_me, "ログイン情報を記憶する" %>
        </div>
      <% end %>

      <div class="actions mt-6">
        <%= f.submit "ログイン", class: "w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
