<div class="max-w-md mx-auto bg-white p-8 rounded shadow">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold mb-6 text-center">投稿詳細</h1>

    <%= link_to post_bookmark_path(@post), method: @bookmark_exists ? :delete : :post, remote: true, id: "bookmark-btn", class: "block p-2 rounded-full bg-white shadow hover:shadow-lg transition-all duration-200" do %>
      <span id="bookmark-icon" class="text-3xl <%= @bookmark_exists ? 'text-red-500' : 'text-gray-400' %> hover:text-red-500">
        <%= @bookmark_exists ? '❤️' : '🤍' %>
      </span>
    <% end %>
  </div>

  <% if @post.image.present? %>
    <div class="mt-4">
      <p>画像:</p>
      <%= image_tag @post.image.url, class: "w-full max-w-xs rounded" %>
    </div>
  <% end %>

  <div class="mt-4">
    <p class="mb-4"><strong>日付：</strong> <%= @post.date.strftime('%Y-%m-%d') if @post.date %></p>
    <p class="mb-4"><strong>場所：</strong> <%= @post.place %></p>
  </div>

  <div class="mt-6">
    <h2 class="text-xl font-semibold mb-2 border-b pb-2">行動ログ</h2>
    <% if @post.action_logs.any? %>
      <% @post.action_logs.each do |log| %>
        <div class="bg-white p-4 rounded-lg shadow-md mb-4 border border-gray-200">
          <p><strong> 時間：</strong> <%= log.created_at.strftime('%H:%M') if log.created_at.present? %></p>
          <p><strong> 場所：</strong> <%= log.place %></p>
          <p><strong> 行動の種類：</strong> <%= log.category %></p>
          <p><strong> 詳細：</strong> <%= log.memo %></p>
        </div>
      <% end %>
    <% else %>
      <p class="text-gray-500 text-sm">まだ行動ログはありません。</p>
    <% end %>
  </div>

  <div class="mt-4">
    <p class="mb-6"><strong>メモ：</strong> <%= simple_format(@post.memo) %></p>
  </div>

  <div class="flex justify-between items-center mt-8">
    <div>
      <%= link_to '戻る', posts_path, class: "inline-block px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600" %>
    </div>
    <div>
      <%= link_to '編集', edit_post_path(@post), class: "px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 mr-2" %>
      <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "px-4 py-2 bg-red-600 text-white rounded shadow-md hover:bg-red-700" %>
    </div>
  </div>
</div> 
