<!DOCTYPE html>
<html>
  <head>
    <title>Alone-D-Record</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body class="h-screen">
    <div class="flex h-full">
      <div class="w-64 bg-gray-200 p-6 flex flex-col">
        <h2 class="text-xl font-bold mb-6">メニュー</h2>
  
        <%= link_to '投稿一覧', posts_path, class: 'block text-blue-500 hover:underline mb-4' %>
        <%= link_to '新規投稿', new_post_path, class: 'block text-blue-500 hover:underline mb-4' %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: { confirm: "本当にログアウトしますか？" }, class: 'block text-red-500 hover:underline mb-4' %>
      </div>
    </div>

    <div class="flex-1 p-8 bg-white overflow-auto">
     <%= yield %>
     <p class="notice text-green-600 mt-4"><%= notice %></p>
     <p class="alert text-red-600 mt-2"><%= alert %></p>
    </div>
  </body>
</html>
